
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Helper function to check for authenticated, non-anonymous users
    function isSignedIn() {
      return request.auth != null && request.auth.token.firebase.sign_in_provider != 'anonymous';
    }

    // Allow read/write access only to authenticated, non-anonymous users.
    match /{document=**} {
      allow read, write: if isSignedIn();
    }
  }
}
